* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../images/imgItto/0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.image {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  text-align: center;
  margin-left: 35px;
  width: 250px;
  height: 250px;
  border: 20px solid rgba(242, 210, 82, 0.492);
  border-radius: 10px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgba(167, 107, 61, 0.955);
  background-color: rgba(255, 255, 255, 0.426);
  font-size: 20px;
  font-weight: bold;
}
.detail {
  background-color: rgba(255, 216, 58, 0.619);
}
@media (max-width: 1000px) {
  .image {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 500px) {
  .image {
    border: none;
  }
  img {
    display: none;
    width: 50px;
    height: 50px;
  }
  .text {
    display: flex;
    justify-content: flex-start;
    margin-right: 50px;
    background-color: rgba(255, 191, 62, 0.426);
    background-size: 15px;
    border: 1px solid black;
    border-radius: 2px;
    color: rgba(75, 48, 28, 0.955);
    font-size: 10px;
  }
}
